@model IEnumerable<OnlineUniversityMVC.Application.Dtos.EnrollmentDto>

@{
    ViewData["Title"] = "My Enrollments";
}

<h1>My Enrollments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Student" asp-action="EnrollmentDetails" asp-route-id="@item.Id">Details</a>
                </td>
        </tr>
}
        <a class="btn btn-primary" asp-controller="Student" asp-action="Enroll">Enroll</a>
    </tbody>
</table>
